<!DOCTYPE html>
<html>
<head>
	<title>Study7</title>
	<script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="app">
	<ul>
		<li v-for="product in products"> 
			{{product.quantity}} {{product.name}} 
			<button @click="product.quantity += 1">Add</button> <!-- When clicked add one quantity to this product -->
			<button v-if="product.quantity !== 0" @click="product.quantity -= 1">Sub</button> <!-- When clicked sub one quantity to this product if quantity is not 0 -->
			<span v-if="product.quantity === 0"> 
				- OUT OF STOCK 
			</span>
		</li>
	</ul>
	<h2>Total Inventory: {{totalProducts}}</h2> <!-- Print the inventory -->
</div>	
<script>
	const app = new Vue({
		el: '#app',
		data: {
			products: [] // Start with an empty array
		},
		computed: {
			totalProducts(){
				return this.products.reduce((sum, product) => {
					return sum + product.quantity // Add together all product quantities and return sum
				}, 0)
			}
		},
		created(){ // Run this code after Vue instance is created
			fetch('https://api.myjson.com/bins/74l63')
				.then(response => response.json())
				.then(json => {
					this.products = json.products // Set the products array value
				})
		}
	})
</script>
<!-- 
1. 해당 html 파일을 크롬으로 실행해보세요.
2. Add 버튼을 클릭해보세요.
3. Sub 버튼을 클릭해보세요.
4. quantity가 0이 될 때까지 Sub 버튼을 클릭해보세요.
 -->
</body>
</html>